---
layout: default
description: "Tutorial belajar PHP yang mengajarkan cara koding yang benar, modern, dan standard."
---

{% capture welcome_content %}{% include welcome.md %}{% endcapture %}
{{ welcome_content|markdownify }}

{% capture backtotop %}[Kembali ke atas](#top){% endcapture %}
{% for post in site.posts reversed %}
    {% if post.isChild != true and loop.first != true %}
    {{ backtotop|markdownify }}
    {% endif %}
    <div id="{{ post.anchor }}">
    {{ post.content }}
    </div>
{% endfor %}
{{ backtotop|markdownify }}
